.env

data/raw/
data/mapped/
data/scored/
data/report/
archives/
.claude/
.vscode/
.continue

__pycache__/
venv/
.venv/

*_old*
*.old
*.pyc
*.pyo

resultat.*
convert_reference.py

*.ps1
*.~lock.*
source_code.*