.env

data/raw/
data/mapped/
data/scored/
data/report/
archives/
.claude/
.vscode/
.continue
node*/
__pycache__/
venv/
.venv/

*_old*
*old_*
*.old
*.pyc
*.pyo

resultat.*
convert_reference.py

*.ps1
*.~lock.*
source_code*